* {
    box-sizing: border-box;
}

h1 {
    margin: auto;
    margin-left: 50px;
    margin-right: 50px;
    text-align: center;
}

h1.nacah1 {
    background-color: purple;
    margin-left: 0;
    margin-right: 0;
}

h3.h3naca.description {
    display: block;
text-align: center;
font-size: 30px;
font-weight: 800;
font-style: italic;
border: solid 2px;
border-color: purple;
background-color: purple;
}

.nacacontainer {
    display: flex;
}

div.nacacontainertwo {
    flex-direction: column;
    justify-content: center;
    text-align: center;

}

#nacatamales {
border: solid 4px;
border-color: purple;
}

.h1index {
    
    background-color: red;
    
}

.ulindex {
    text-align: center;
    border: 2px solid;
}

.aindex {
    display: block;
    font-size: 100px;
    padding: 20px;
    
}