* {
    box-sizing: border-box;
}

h1 {
    margin: auto;
    margin-left: 50px;
    margin-right: 50px;
    text-align: center;
}

h1.nacah1 {
    background-color: purple;
    margin-left: 0;
    margin-right: 0;
}

.nacadiv {
    
}

.nacatamales {
    display: inline;
    margin: 0;
}

.h1index {
    
    background-color: red;
    
}

.ulindex {
    text-align: center;
    border: 2px solid;
}

.aindex {
    display: block;
    font-size: 100px;
    padding: 20px;
    
}